.loginItems {
  position: relative;
  padding: 60px 10px;
  max-width: 1200px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 575px) {
    flex-direction: column;
  }

  // ============================  Sign Up ============================ //
  &_signup {
    background-image: linear-gradient(
      90deg,
      #b08ead 0%,
      #4b3049 64%,
      #b08ead 100%
    );
    background-size: 200% auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    @media (max-width: 768px) {
      width: 55%;
      height: 500px;
      padding: 0 30px;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 35px;
      color: #fff;
      margin-bottom: 17px;
      @media screen and (max-width: 320px) {
        font-size: 20px;
        margin-bottom: 30px;
      }
    }
    p {
      color: #fff;
      line-height: 25px;
      font-family: "Roboto", sans-serif;
      margin-bottom: 15px;
      width: 80%;
      text-align: center;
      @media screen and (max-width: 320px) {
        width: 100%;
        font-size: 14px;
      }
    }
    .signupBtn {
      border: 1px solid #fff;
      background-color: transparent;
      font-size: 14px;
      margin-top: 28px;
      color: #fff;
      outline: medium none;
      transition: 0.5s;
      font-weight: 400;
      display: inline-block;
      padding: 22px 30px;
      border-radius: 5px;
      transition: all 0.3s ease;
      cursor: pointer;
      @media screen and (max-width: 320px) {
        padding: 15px 20px;
        font-size: 12px;
      }

      &:hover {
        background-color: #fff;
        color: #b08ead;
        font-weight: bold;
      }
    }
  }

  // ============================  Sign In ============================ //
  &_signin {
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35%;
    @media (max-width: 768px) {
      width: 40%;
      height: 500px;
      padding: 0 30px;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
  }
  h3 {
    margin-top: 80px;
    width: 60%;
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    color: #0b1c39;
    margin-bottom: 80px;
    @media screen and (max-width: 991px) {
      margin-bottom: 20px;
      width: 100%;
      font-size: 22px;
    }
    @media screen and (max-width: 320px) {
      width: 100%;
      font-size: 18px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
      border: 0px solid transparent;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      outline: none;
      margin: 10px 0;
      background: #fff;
      display: block;
      width: 100% !important;
      height: calc(2.25rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
  .rememberMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    input {
      margin-right: 10px;
      position: relative;
      top: -1px;
    }
  }
  .signinBtn {
    display: block;
    width: 100%;
    margin: 30px 0 17px;
    padding: 18px 36px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #2577fd;
    font-size: 15px;
    color: #2577fd;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: #2577fd;
      color: #fff;
      font-weight: bold;
    }
    @media screen and (max-width: 320px) {
      padding: 15px 20px;
      font-size: 14px;
    }
  }
  span {
    width: 100%;
    text-align: right;
    cursor: pointer;
    color: #777;
    font-size: 17px;
    @media screen and (max-width: 320px) {
      font-size: 14px;
    }
  }
}
