.scrollUp {
  position: fixed;
  z-index: 2147483647;
  background: #ff2020;
  height: 50px;
  width: 50px;
  right: 31px;
  bottom: 18px;
  text-align: center;
  border-radius: 50%;
  line-height: 48px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  .icon {
    color: #fff;
    font-size: 26px;
    position: relative;
    top: 5px;
    @media screen and (max-width: 500px) {
      font-size: 22px;
      top: 0;
    }
    @media screen and (max-width: 300px) {
        font-size: 20px;
        top: -5px;
      }
  }
  @media screen and (max-width: 500px) {
    height: 40px;
    width: 40px;
    right: 20px;
  }
  @media screen and (max-width: 300px) {
    height: 30px;
    width: 30px;
  }
}

.hidescroll {
  display: none;
}
